<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- printTurns toggles the output of each players shot every turn -->
    <add key="printTurns" value="True"/>
    <!--
      player1 and player2 specifies the fully qualified type and in which assembly it resides in
      
      If you've made your own AI in an assembly called MyAI.dll and in that assembly your class that
      implements IPlayer is named SuperAI which is defined in the namespace BattleShipAI, then you
      would use this app setting for either player1 or player2 (or both):
      <add key="player1" value="BattleShipAI.SuperAI,MyAI"/>
      The assembly (MyAI.dll) will need to be located next to the game exe.
    -->
    <add key="player1" value="BattleShip.Players.StdPlayer,StandardBattleShipAI"/>
    <add key="player2" value="Suijin.Suigetsu,Suijin"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
</configuration>
